@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white text-brand-forest font-sans selection:bg-brand-gold/30 selection:text-brand-forest;
        -webkit-font-smoothing: antialiased;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-brand-forest/20 rounded-full;
}